.footer-area{
    background: #275A53;
    margin-top: 50px;
    i{
        font-size: 20px;
        color: #ffffff;
        font-weight: 900;
    }
    span{
        color: #16322E;
        font-weight: 400;
        margin-left: 40px;
    }
    h5{
        color: #16322E;
        font-weight: 400;
        font-family: 'Work Sans', sans-serif;
    }
}

.footer-area li{
    list-style: none;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #16322E;
    padding: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}


.social-media .icon:hover{
     background-color: #16322E ;
    color:white;
}

.clear-both img{
    width: 170px;
}

.copyRight p{
    margin: 0;
    padding: 10px
}